.bank-card {
    width: 60vw;
    max-width: 500px;
    background: linear-gradient(to right, rgb(34, 193, 195), rgb(253, 187, 45));
    margin: 5vh auto;
    padding: 5vh 5vw;
    border: 1px solid #000;
    border-radius: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    

    .bank-card__number {
        display: flex;
        justify-content: space-between;
        font-size: 2rem;
    }

    .bank-card__image {
        max-width: 20%;
        margin-left: 80%;
    }

    .bank-card__comment {
        overflow: hidden;
        font-size: 1.5rem;
        margin-bottom: 2vh;
    }

    @media screen and (max-width: 00px) {
        .bank-card__number {
            font-size: 1.5rem;
        }

        .bank-card__comment {
            font-size: 1rem;
        }
    }
}